@charset "utf-8";

/*分页样式*/
#Pagination{
    width:1210px;
    text-align: center;
    margin: 50px auto 0;
}
#Pagination a{
    display: inline-block;
    height: 30px;
    padding: 0 15px;
    margin: 0 4px;
    border: 1px solid #CCCCCC;
    font-size: 16px;
    color: #333333;
    line-height: 30px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
    cursor: pointer;
}
#Pagination span{
    display: inline-block;
    height: 30px;
    padding: 1px 15px;
    margin: 0 4px;
    border: 1px solid #CCCCCC;
    font-size: 16px;
    color: #333333;
    line-height: 30px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
    cursor: pointer;
}
#Pagination a.current{
    color: #fff;
    background: #697DC2;
    border-color: #697DC2;
}
#Pagination span.current{
    color: #fff;
    background: #697DC2;
    border-color: #697DC2;
}
#Pagination a:hover {
    color: #fff;
    background: #697DC2;
    border-color: #697DC2;
}
