<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hs.login.mapper.LoginMapper">


    <select id="doLogin" resultType="cn.hs.login.dto.User_Info">
        select *
        from user_info
        where login_name = #{loginName} and login_password = #{loginPassword}
    </select>
</mapper>